<div class="image image--lightbox --lazy-image{% if item.bordered %} image--bordered{% endif %}">
  <picture{% if item.aspect %} style="--aspect: {{ item.aspect }}"{% endif %}>
    <img
      class="lazy"
      src="{{ item.src | thumbSrc | url }}"
      data-src="{{ item.src | url }}"
      alt="{{ item.alt }}"
      decoding="async"
    />
  </picture>
</div>
