{% set galleryLayout = section.data.galleryLayout or "slider-3" %}
{% set itemsToShow = section.data.itemsToShow or (3 if galleryLayout == "slider-3" else 1) %}
{% set ratio = section.data.ratio or "original" %}

<section class="section section--gallery"{% if section.data.id %} id="{{ section.data.id }}"{% endif %}>
  {% if galleryLayout == "slider-3" %}
    <div class="block block-slider-3">
      <div
        data-items="{{ itemsToShow }}"
        class="inner slider slider-js{% if section.data.items | length <= 1 %} slider--single{% endif %} --ratio-{{ ratio }}"
        {% if section.data.noArrows %}data-slider-no-arrows="true"{% endif %}
      >
        {% for item in section.data.items %}
          <div class="slide">
            <div class="item">
              {% if item.src %}
                <div class="image">
                  <picture{% if item.aspect %} style="--aspect: {{ item.aspect }}"{% endif %}>
                    <img
                      src="{{ item.src | url }}"
                      alt="{{ item.alt }}"
                      loading="eager"
                      decoding="async"
                    />
                  </picture>
                </div>
              {% else %}
                <div class="image image--placeholder" role="img" aria-label="{{ item.alt }}"></div>
              {% endif %}
            </div>
            {% if item.caption %}
              <div class="item-caption">{{ item.caption }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="block block-slider">
      <div
        data-items="{{ itemsToShow }}"
        class="inner slider slider-js{% if section.data.items | length <= 1 %} slider--single{% endif %} --ratio-{{ ratio }}"
        {% if section.data.noArrows %}data-slider-no-arrows="true"{% endif %}
      >
        {% for item in section.data.items %}
          <div class="slide">
            <div class="item">
              {% if item.src %}
                <div class="image">
                  <picture{% if item.aspect %} style="--aspect: {{ item.aspect }}"{% endif %}>
                    <img
                      src="{{ item.src | url }}"
                      alt="{{ item.alt }}"
                      loading="eager"
                      decoding="async"
                    />
                  </picture>
                </div>
              {% else %}
                <div class="image image--placeholder" role="img" aria-label="{{ item.alt }}"></div>
              {% endif %}
            </div>
            {% if item.caption %}
              <div class="item-caption">{{ item.caption }}</div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="slider-bottom">
          <div class="slider-caption"></div>
          <div class="slider-pagination"></div>
        </div>
      </div>
    </div>
  {% endif %}
</section>
<script type="module" src="{{ '/assets/js/slider.js' | url }}"></script>
