<section class="section section--video"{% if section.data.id %} id="{{ section.data.id }}"{% endif %}>
  {% if section.data.title or section.data.lead %}
  <div class="section__header">
    {% if section.data.title %}<h2>{{ section.data.title }}</h2>{% endif %}
    {% if section.data.lead %}<p class="section__lead">{{ section.data.lead }}</p>{% endif %}
  </div>
  {% endif %}
  <div class="section__inner">
    <div class="video-wrap video-wrap--player">
      <div
        class="plyr__video-embed"
        data-plyr
        data-plyr-provider="youtube"
        data-plyr-embed-id="{{ section.data.youtube }}"
      ></div>
    </div>
  </div>
</section>
<script type="module" src="{{ '/assets/js/video.js' | url }}"></script>
