---
layout: layouts/base.njk
title: Blog
permalink: /blog/
---

<div class="page">
  <h1>Blog</h1>

  {% if collections.posts.length %}
    <ul class="post-list">
      {% for post in collections.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
          {% if post.date %}
            <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
          {% endif %}
          {% if post.data.description %}
            <p>{{ post.data.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Aún no hay posts.</p>
  {% endif %}
</div>
