.section {
  width: 100%;
  padding-block: var(--spacing-s);
  padding-block-start: 0;
  padding-block-end: var(--spacing-s);
  padding-inline: 0;

  &__inner {
    margin-inline: var(--spacing-s);
  }

  &__header {
    margin-bottom: var(--spacing-s);
    margin-inline: var(--spacing-s);
    border-top: 1px solid var(--border);
    padding-top: var(--spacing-s);
    font-size: var(--font-size-m);
  }

  &__lead {
    margin-top: var(--spacing-xxs);
    color: var(--muted);
    @include type-body;
  }

  &--video {
    padding-block-start: var(--spacing-s);
  }

  &--bus {
    overflow: hidden;
  }

  &--identidade,
  &--iconas,
  &--sinais,
  &--vehiculos,
  &--aplicacions {
    overflow: hidden;
  }

}