---
layout: layouts/base.njk
title: Acerca de
permalink: /about/
---

<div class="page">
  <h1>Acerca de</h1>
  <p>
    Este proyecto usa <a href="https://www.11ty.dev/">Eleventy</a> para generar un sitio
    estático rápido y flexible.
  </p>
</div>
